.vscode/launch.json
.vscode/settings.json
.VSCodeCounter/2024-02-25_11-25-39/details.md
.VSCodeCounter/2024-02-25_11-25-39/diff-details.md
.VSCodeCounter/2024-02-25_11-25-39/diff.csv
.VSCodeCounter/2024-02-25_11-25-39/diff.md
.VSCodeCounter/2024-02-25_11-25-39/diff.txt
.VSCodeCounter/2024-02-25_11-25-39/results.csv
.VSCodeCounter/2024-02-25_11-25-39/results.json
.VSCodeCounter/2024-02-25_11-25-39/results.md
.VSCodeCounter/2024-02-25_11-25-39/results.txt
__pycache__/flashcards.cpython-310.pyc
__pycache__/subject.cpython-310.pyc
__pycache__/subjectWindow.cpython-310.pyc
__pycache__/tasks.cpython-310.pyc
__pycache__/term.cpython-310.pyc
__pycache__/test.cpython-310.pyc
__pycache__/testTypes.cpython-310.pyc
__pycache__/topic.cpython-310.pyc
__pycache__/topicSelection.cpython-310.pyc
__pycache__/topicSelector.cpython-310.pyc
__pycache__/utils.cpython-310.pyc
BG.pdn
data/userdata.bak
data/userdata.dat
data/userdata.dir
